
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,600,700');


html{
    font-size: 62.5%; /* se Usa para poder hacer que 1 Rem sea igual a 10px y asi tener mejor control en el resm*/
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    line-height: 24px;
    color: #9E9E9E;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    background: rgb(0, 0, 0);
}

img {
    height: auto;
    max-width: 100%;
    border: none;
    outline: none;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

/* ----------------------------------------------
	 Utilidades
----------------------------------------------- */
.mt_10{
    margin-top: 10px;
}
.mt_40{
    margin-top: 40px;
}

.mtb_40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

ul li {
    list-style: none;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.color-fondo{
    background-color: #F2EFEA;
}

.color_negro{
    color: black;
}

.color-oscuro{
  background-color: #37474f;
}












/* ----------------------------------------------
	 Cabecera
----------------------------------------------- */



.cabecera_arriba {
    font-size: 13px;
    border-bottom: 1px solid #424242;
    color: #ccc;
    font-weight: 500;
}

.cabecera-arriba-izquierda, .cabecera-arriba-dere {
    margin: 8px 0;
}

.cabecera_arriba a {
    color: white;
    font-weight: 600;
}

.cabecera-arriba-izquierda>li, .cabecera-arriba-dere>li {
    padding: 0 10px;
    line-height: 11px;
}

.cabecera-arriba-izquierda li, .cabecera-arriba-dere li {
    display: inline;
    cursor: pointer;
}



/* ----------------------------------------------
	 Logo
----------------------------------------------- */

.logo {
    text-align: center;
}

.logo .logo-link {
    height: auto;
}

.logo-link {
    padding: 33px 0;
    display: inline-block;
    float: none;
}
 .logo-link {
    height: auto;
}

/* ----------------------------------------------
	 Carro
----------------------------------------------- */
#div-carro>.btn {
    background: url(../img/sprite.png) no-repeat scroll -15px -102px;
    line-height: 20px;
    color: #fff;
    padding: 0 0 0 48px;
    border: none;
    border-radius: 0;
    float: right;
    outline:none !important;
    outline-width: 0 !important;
}

#div-carro>.btn:hover {
    background-position: -15px -152px;
}



#carrito-compra {
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    text-transform: uppercase;
}

#carrito-total {
    clear: left;
    float: left;
}

#dropdown-carrito {
    background: #fff;
    border: 1px solid #e5e5e5;
    min-width: 185px;
    max-width: 300px;
    position: absolute;
    right: 10;
    top: 90px;
    z-index: 3;
}

#dropdown-carrito ul {
    padding: 20px;
    display: inline-table;
}

#dropdown-carrito .table>tbody>tr>td {
    padding: 10px 0;
}

#dropdown-carrito .nombre-producto {
    min-width: 160px;
    padding-left: 10px !important;
}

#dropdown-carrito .precio {
    display: block;
    font-size: 14px;
}

#dropdown-carrito .cant-carro {
    margin-top: 0.5rem;
    padding: 0.5rem 0.8rem;
    width: 6rem;
}

.btn {
    background: #424242 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}



/* ----------------------------------------------
	 Dropdowns Styles
----------------------------------------------- */

.dropdown-menu {
    background-clip: padding-box;
    background-color: #424242;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    margin: 11px 0 0;
    padding: 15px;
}



/* ----------------------------------------------
	 Nav Bar
----------------------------------------------- */
.nav1{
    background-color: #424242;
    height: 65px;
}

@media only screen and (max-width: 776px) {
    .nav1{
        background-color: #424242;
        height: 100%;
    }
}

.menu{
    font-size: 20px;
    color: white;
    font-weight: 500;
    margin-left: 50px;
}


@media (min-width: 800px){
    .menu {
    display: none !important;
}
}

 .nav1 .div-nav .opciones li a {
    padding: 22px 18px;
    border-radius: 0;
    overflow: hidden;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    
}

.nav1 .div-nav .opciones{
    height: 100%;
   
}

.nav1 .div-nav .opciones .activo a {
    color:  #fa4251;
}

.nav1 .div-nav .opciones li a {
    font-weight: 500;
}


.nav1 .div-nav .opciones li a:hover, .nav1 .div-nav .opciones li a:focus {
    background-color: #fa4251;
    color: #fff;
}

#buscar{
    font-size: 2rem;
}
.nav1 form {

        height: 40px;
        line-height: 20px;
        padding: 0 0px 0 10px;
        border: none;
        font-size: 15px;
        color: white;
        border-radius: 0;
        border-bottom: 1px solid white; 
        background-color: rgba(14, 9, 9, 0);
        outline: 0px !important; 

    }

    .nav1 form input{
        height: 40px;
        line-height: 20px;
        padding: 0 0px 0 10px;
        border: none;
        font-size: 2rem;
        border-radius: 0; 
        background-color: rgba(14, 9, 9, 0) !important;
        outline: none !important; 
        color: white !important;

}

input:focus, input.form-control:focus {

    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}







/* ----------------------------------------------
	 Tipografia 
----------------------------------------------- */

a {
    cursor: pointer;
    text-decoration: none;
    color: #9E9E9E;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a:hover, a:focus {
    color: rgb(255, 145, 0);
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}
a.active {
    color: #000;
}
p {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
h1 {
    font-size: 36px;
    line-height: 42px;
}
h2 {
    font-size: 30px;
    line-height: 36px;
}
h3 {
    font-size: 22px;
    line-height: 26px;
}
h4 {
    font-size: 18px;
    line-height: 22px;
}
h5 {
    font-size: 16px;
    line-height: 20px;
}
h6 {
    font-size: 14px;
    line-height: 18px;
}
.uppr {
    text-transform: uppercase;
}
.lower {
    text-transform: lowercase;
}
.capitalize {
    text-transform: capitalize;
}

















